body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#titulo{
    margin: 10px auto;
    text-align: center;
}
#calc-body{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 550px;
    height: 600px;
    background-color: rgb(122, 128, 128);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 0 7px;
}

#screen-div{
    position: relative;
    top: 35px;
    width: 500px;
    height: 70px;
}

#screen{
    height: 70px;
    width: 475px;
    cursor: default;
    font-size: 30px;
    
}

#num-keyboard{
    position: relative;
    float: left;
    top: 80px;
    left: 15px;
    margin-left: 10px;
    max-width: 375px;
    height: 415px;
    background-color: rgb(73, 73, 80);
    border-radius: 5%;
}

#ope-keyboard{
    position: relative;
    top: 80px;
    left: 25px;
    max-width: 100px;
    height: 415px;
    background-color: rgb(122, 128, 128);
}
.button{
    position: relative;
    width: 50px;
    height: 30px;
    margin: 45px;
    float: left;
}

.fila{
    margin-top: 40px;
    align-items: center;
    align-content: center;
    
}

.boton-teclado{
    height: 50px;
    width: 80px;
    margin-right: 35px;
    font-size: 30px;
    box-shadow: 0 0 10px;
    left: 15px;
}
.boton-ope{
    margin-top: 20px;
    width: 80px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    max-width: 80px;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 0 7px;
}
